<div class="new">
  <h2><%= @todo.title %></h2>
  <h3><%= @todo.body %></h3><br>
  <h3 class="pomo"><%= "Pomodoros: " + @todo.pomodoros.to_s %></h3><br><br>

  <form class="" action= "<%= increment_todo_url(@todo) %>" method="post">
    <%= auth_token_input %>
    <input type="hidden" name="_method" value="patch">
  </form>

  <input id='startbutton' class="formbuttonshow" type="submit" value="New Pomodoro" onclick="clock();">

  <div class="showlinks">
    <c class="indexlink">
      <%= link_to "All Todos", todos_url %>
    </c>
    <c class="editlink">
      <%= link_to "Edit", edit_todo_url(@todo) %>
    </c>
    <c class="deletelink">
      <%= link_to "Delete", todo_url, method: :delete %>
    </c>
  </div>

  <script type="text/javascript">
  function clock(){
    var time = 1500;
    var id = <%= @todo[:id] %>
    document.getElementById('startbutton').className = "hidden";
    var myVar = setInterval(function() {
      myTimer(time)
      time -= 1;
      if (time < 0) {
        clearInterval(myVar);
        $.ajax({
          url: '/todos/' + id + "/increment",
          type: 'PATCH'
        })
      }
    }, 1000);

    function myTimer(time) {
      var minutes = Math.floor(time / 60);
      var seconds = time % 60;
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      var result = minutes + ":" + seconds;
      document.querySelector('[data-seconds]').innerHTML = result;
    }
  }
  </script>

  <div id="defaultCountdown" class="hasCountdown">
    <span data-seconds></span>
  </div>
</div>
