<h2><%= @todo.title %></h2>
<%= @todo.body %>
<%= @todo.pomodoros %>

<%= link_to "Edit Todo", edit_todo_url(@todo) %>
<%= link_to "Todos", todos_url %>
<%= button_to "Remove Todo", todo_url, method: :delete %>
<form action="<%= todo_url(@todo)/increment %>" method="post">
  <input type="submit" value="New Pomodoro" onclick="window.location = '/increment'">
</form>
<script type="text/javascript">
function clock(){
  var time = 5;
  var myVar = setInterval(function() {
    myTimer(time)
    time -= 1;
    if (time < 0) {
      clearInterval(myVar);
    }
  }, 1000);

  function myTimer(time) {
    var minutes = Math.floor(time / 60);
    var seconds = time % 60;
    document.querySelector('[data-minutes]').innerHTML = minutes;
    document.querySelector('[data-seconds]').innerHTML = seconds;
  }
}
  </script>

  <div id="defaultCountdown" class="hasCountdown">
      <span data-minutes></span>:
      <span data-seconds></span>
  </div>
