<!DOCTYPE html>
<html>
<head>
  <title>PomoTodoro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="title">
    <h1>pomo<qq>ToDo</qq>ro</h1>
  </div>
<% if signed_in? %>
<div class="username">
  <%= current_user.username %>
</div>
  <%= button_to "Sign Out", session_url, :method => :delete %>

<% end %>

<br>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
